.side {
  width: 300px;
}

.viewer {
  padding: 10px;
}

ul {
  width: 100%;
}

.close{
  display: inline-block;
  font-size: 15px;
  padding: 4px 10px;
}

.nav-item {
  cursor: pointer;
}

.restrict{
  overflow: hidden;
}